html, body{
	background-color: #f4f4f4;
	margin: 0px;
	padding: 0px;
    height: 100%;
    width: auto;
	overflow-y: auto;
}

img {
	max-width: 100%;
    max-height: 100%;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
.ui.visible.uncover.sidebar{
    min-height: 100%!important;
    height: auto!important;
    overflow-y: auto!important;
}
#animate-area   { 
    width: 100%; 
    height: 100%; 
    background-image: url(images/Babo2.gif);
    background-position: 0px 0px;
    background-repeat: repeat;

    animation: animatedBackground 40s linear infinite;
}
#UITOP {
	height: 40px;
	display: inline-block;
	background-color: #ffffff;
	border-bottom: 2px solid #e0e0e0;
    position: relative;
	margin: auto;
}

@media only screen and (min-width: 450px) {
  #content .small {	
	  display: block;
  }   
  #content .big {	
	  display: none;
  }  
} 

@media only screen and (min-width: 780px) and (max-width: 1024px) {
  #content .mid {	
	  display: block;
  }  
  #content .big {	
	  display: none;
  }     
}

#stcanvas
{
    position:absolute;    
}

#item1 {
	float: left;
}

.main_buttons {
    position: inline-block;
    vertical-align: center;
    left: 20%;
}

.logo1 {
    position: relative;
	display: inline-block;
    vertical-align: middle;
    left: 20%;
}

#logoid {
	display: inline-block;
	margin: auto;
}


.fileUpload {
    display: inline-block;
    cursor: pointer; 
    padding: 10px;
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    text-transform: uppercase;
    background-color: silver;
    font-size: 8px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 30%;

}

.background_image {
    display: inline-block;
}

.background_image img {
    size: 100%;
}

.fileUpload input.upload {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.uploading{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.search {
	display: inline-block;
	vertical-align: middle;
	margin-left: 80px;
	margin-top: 20px;
}

.contents{
    position: relative;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
/*
    resize: both;
    overflow: scroll;
    border: 1px solid block;
*/
}

.card {

}

.card2 {
    display: inline-block;
    width: 100px;
    margin: 2.5px;
}
.card2 img {
    width: 100px;
    height: 180px;
    display: inline-block;
    margin: 10px;
}
.confirm{
    display: inline-block;
    vertical-align: middle;
    margin-top: 21px;
}

.button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px 4px;
    margin-top: 10px;
    margin-left: 15px;
    font: 12px;
    width: 80px;
}

.login {
	display: inline-block;
    float: right;
}


/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #8f8f8f;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #f4f4f4;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

img.btn_close {
	float: right;
	height: 20px;
	width: 20px;
    margin: -28px -28px 0 0;
}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: inline-block;
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: inline-block;
    display: block;
}

form.signin p, form.signin span {
    display: inline-block;
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

form.signin .textbox input {
    display: inline-block;
    background: #ffffff;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #000000;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

form.signin input:-moz-placeholder {
    display: inline-block;
    color: #000000;
}

form.signin input::-webkit-input-placeholder {
    display: inline-block;
    color: #000000;
}

.button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px 4px;
    margin-top: 10px;
    margin-left: 15px;
    font: 12px;
    width: 80px;
}
.forgot{
	color: #000000;
}
.button:hover {
    background: #ddd;
}