<!DOCTYPE html>
<head>
    <meta charset = "utf-8" />
	<meta name = "viewport" content = "width=device-width, height=device-height, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "/static/semantic/dist/semantic.min.css">
	<link rel = "stylesheet" href = "/static/main.css">
  	<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script
	  src = "https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity = "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin = "anonymous"></script>
	<script src = "/static/semantic/dist/semantic.min.js"></script>

</head>
<body>
	<input type="hidden" value="{{ posterId }}" name="posterid">
	<div class="field">
		<label>Event Title</label>

		<input type="text" name="eventname" placeholder="Title" value={{result.title.0}}>
	</div>
	  <div class="field">
	    <label>Event Start Date</label>
	    <input type="text" name="eventdate" placeholder="Start Date" value={{result.date.0}}>
	  </div>
	  <div class="field">
	    <label>Event End Date</label>
	    <input type="text" name="eventenddate" placeholder="End Date" value={{result.date.0}}>
	  </div>
	  <div class="field">
	    <label>Event Place</label>
	    <input type="text" name="eventplace" placeholder="Place" value={{result.place.0}}>
	  </div>
	  <div class="field">
	    <label>Event Discription</label>
	    <textarea name="eventtext" placeholder="Discription" value={{result.url.0}}></textarea>
	
	  </div>
		  <button class="ui button" type="submit">Submit</button>
</body>