<!DOCTYPE html>
<head>
    <meta charset = "utf-8" />
	<meta name = "viewport" content = "width=device-width, height=device-height, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "/static/semantic/dist/semantic.min.css">
	<link rel = "stylesheet" href = "/static/main.css">
  	<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script
	  src = "https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity = "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin = "anonymous"></script>
	<script src = "/static/semantic/dist/semantic.min.js"></script>

</head>
<body id = "animate-area">
	<div id="login-box" class="login-popup">
		<a href="#" class="close"><img src="static/Images/exit.gif" width="10" height="10" class="btn_close" title="Close Window" alt="Close" /></a>
		<form method="POST" class="signin">
		{% csrf_token %}
			<fieldset class="textbox">
				<label class="username">
					<span>Username</span>
					<input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
				</label>
				<button class="submit button" type="submit" id="Login">Login</button>
				<button class="submit button" type="submit" id="Sign_Up">Sign Up</button>
				<!-- <p> -->
					<!-- <a class="forgot" href="Shinsta.html">Forgot your password?</a> -->
				<!-- </p>         -->
			</fieldset>
		</form>
	</div>
	<div id = "UITOP" class="ui top attached demo menu">
		<a id = "item1" class="item">
			<i class="sidebar icon"></i>
		</a>
		<div class = "logo1">
			<a href="">
				<img id = "logoid" alt="POSTECH" src = "static/Images/logo.jpg" width="118" height="33">
			</a>
		</div>
		<div class="login">
			<div class="name">
				{{ user.username }}
			</div>
		</div>
	</div>
	<div class="ui bottom attached segment">
		<div class="ui inverted labeled icon left inline vertical demo sidebar menu">
			<a class="item" href="index">
				<i class="home icon"></i> Home
			</a>
			<a class="item" href="myimages">
				<i class="block layout icon"></i> My Images
			</a>
			<a class="item" href="#login-box">
				<i class="smile icon"></i> Login
			</a>
			<a class="item">
				<i class="calendar icon"></i> Open Calendar
			</a>
		</div>
		<div class="pusher">
			<div class="ui basic segment">
				<div class="background_image">
					<img src="static/Images/XBOX.jpg">
				</div>
				{% for poster in posters %}
					<div id="{{ poster.id }}" class="card">
						<div class="contents">
							<p align="center"><img src="{{ poster.file.url }}" alt="Sana" width="174" height="261">
						</div>
					</div>
				{% endfor %}
				<div class="main_buttons">
					<form method="POST" class="uploading" action="file_upload" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="fileUpload btn btn-primary">
							<div class="letsupload">
								Upload
						    	<input id="uploadBtn" name="file" type="file" class="upload" />							
							</div>
						</div>
						<div class="confirm">
							<button class="ui circular facebook icon button" type="submit" onclick="showFeedback()">
								Translate
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="feedback">
				<form method="POST" class="ui form" action="feedback_upload" enctype="multipart/form-data">
						{% csrf_token %}
					<input type="hidden" value="{{ posterId }}" name="posterid">
					<div class="field">
						<label>Event Title</label>
						<input type="text" name="eventname" placeholder="First Name" value={{result.title}}>
					</div>
					  <div class="field">
					    <label>Event Start Date</label>
					    <input type="text" name="eventdate" placeholder="Last Name" value={{result.date}}>
					  </div>
					  <div class="field">
					    <label>Event End Date</label>
					    <input type="text" name="eventenddate" placeholder="Last Name" value={{result.date}}>
					  </div>
					  <div class="field">
					    <label>Event Contact</label>
					    <input type="text" name="eventtext" placeholder="Last Name" value={{result.contact}}>
					  </div>
					  <div class="field">
					    <label>Event Place</label>
					    <input type="text" name="last-name" placeholder="Last Name" value={{result.place}}>
					  </div>
					  <div class="field">
					    <label>Event Link</label>
					    <input type="text" name="last-name" placeholder="Last Name" value={{result.url}}>
					  </div>
						  <button class="ui button" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('.ui.sidebar').sidebar({
		context: $('.bottom.segment')
		})
		.sidebar('attach events', '.menu .item');
	</script>
	<script>
		$("#Login").on("click", function() {
			$(this).closest("form").attr('action', '/login')
		})
		$("#Sign_Up").on("click", function() {
			$(this).closest("form").attr('action', '/sign_up')
		})
	</script>
	<!-- Login-->
	<script>
		$(document).ready(function() {
			$('a.login-window').click(function() {
				var loginBox = $(this).attr('href');
				$(loginBox).fadeIn(300);
				var popMargTop = ($(loginBox).height() + 24) / 2; 
				var popMargLeft = ($(loginBox).width() + 24) / 2; 
				$(loginBox).css({ 
				    'margin-top' : -popMargTop,
				    'margin-left' : -popMargLeft
				});
				$('body').append('<div id="mask"></div>');
				$('#mask').fadeIn(300);    
				return false;
			});
			$('a.close, #mask').on('click', function() { 
				$('#mask , .login-popup').fadeOut(300 , function() {
					$('#mask').remove();  
				}); 
			return false;
			});
		});
		$(document).ready(function() {
			$('a.item').click(function() {
				var loginBox = $(this).attr('href');
				$(loginBox).fadeIn(300);
				var popMargTop = ($(loginBox).height() + 24) / 2; 
				var popMargLeft = ($(loginBox).width() + 24) / 2; 
				$(loginBox).css({ 
				    'margin-top' : -popMargTop,
				    'margin-left' : -popMargLeftp
				});
				$('body').append('<div id="mask"></div>');
				$('#mask').fadeIn(300);    
				return false;
			});
			$('a.close, #mask').on('click', function() { 
				$('#mask , .login-popup').fadeOut(300 , function() {
					$('#mask').remove();  
				}); 
			return false;
			});
		});		
	</script>
	<!-- Feedback-->
	<script type="text/javascript">
		$(document).ready( function () {
			$('.confirm button').click(function() {
				$('.feedback').css("display", "block");
			})
		})
	</script>

</body>
</html>