<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, height=device-height;, initial-scale=1">
	<link rel="stylesheet" href="/O2O/static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>

<body>
	<button class="ui button">
		Button
	</button>
	<div class="ui button" tabindex="0">
		Focusable
	</div>
	<button class="ui primary button">
		Save
	</button>
	<a href="https://ko.wikipedia.org/wiki/사나_(가수)">
		<img src="http://uhd.img.topstarnews.net/wys4/file_attach/2017/07/19/1500390132-70.jpg" alt="Bulma: a modern CSS framework based on Flexbox">
	</a>
	<a >
		<img src="/O2O/static/Images/6.gif">
	</a>
</body>
</html>