<!DOCTYPE html>
<head>
    <meta charset = "utf-8" />
	<meta name = "viewport" content = "width=device-width, height=device-height, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "/static/semantic/dist/semantic.min.css">
	<link rel = "stylesheet" href = "/static/main.css">
  	<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script
	  src = "https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity = "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin = "anonymous"></script>
	<script src = "/static/semantic/dist/semantic.min.js"></script>

</head>
<body>
	<div id = "UITOP" class="ui top attached demo menu">
		<a id = "item1" class="item">
			<i class="sidebar icon"></i>
		</a>
		<div class = "logo1">
			<a href="/">
				<img id = "logoid" alt="POSTECH" src = "static/Images/logo.jpg" width="118" height="33">
			</a>
		</div>
		<div class="login">
			<div class="name">
				{% if users %}
					{{ users }}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="ui bottom attached segment">
		<div class="ui inverted labeled icon left inline vertical demo sidebar menu">
			<a class="item" href="/">
				<i class="home icon"></i> Home
			</a>
			<a class="item" href="">
				<i class="block layout icon"></i> My Images
			</a>
			<a class="item" href = "{% url 'logout' %}" id="logout-button">
				<i class="frown icon"></i> Logout
			</a>
			<a class="item" href="https://calendar.google.com/calendar">
				<i class="calendar icon"></i> Open Calendar
			</a>
		</div>
		<div class="pusher">
				<div class="ui basic segment">
					{% for poster in posters %}
						{% if poster.eventholder == poster.user.username %}

							<div id="{{ poster.id }}" class="fluid card holder">
								 <a class="ui red right corner label" style="border-color: rgba(219, 40, 40, 0.63)!important">
        							<i class="configure icon"></i>
      							</a>
								<div class = "card-image" style="background-image: url({{ poster.file.url }})"></div>
								<div class = "card-explanation">
									<p name="id" style="display: none">{{ poster.id }}</p>

									<p name="eventname">{{ poster.eventname }}</p>
									<p name="eventdate">{{ poster.eventdate }}</p>
									<p name="eventenddate">{{poster.eventenddate}}</p>
									{% if poster.eventplace %}
									<p name="eventplace">{{poster.eventplace}}</p>
									{% endif %}
									{% if poster.eventplace %}
									<p name="eventplace">{{poster.text}}</p>
									{% endif %}
									<p>{{ poster.attract }}</p>
								</div>
							</div>
							
						
										
						{% else %}
						<div id="{{ poster.id }}" class="card" >
								<div class = "card-image" style="background-image: url({{ poster.file.url }})"></div>
								<div class = "card-explanation">
									<p>{{ poster.eventname }}</p>
									<p>{{ poster.eventdate }}</p>
									<p>{{ poster.attract }}</p>
									
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			
		</div>

		<div  class="ui modal">
		  <i class="close icon"></i>
		  <div class="feedback ui basic segment">

			<form method="POST" class="ui form" action="event_edit" enctype="multipart/form-data">
					{% csrf_token %}
				<input type="hidden"  name="posterid">
				<div class="field" style="display: none">
					
					<input type="text" name="eventname" placeholder="Title" >
				</div>
				<div class="field">
					<label>Event Title</label>

					<input type="text" name="eventnewname" placeholder="Title" >
				</div>
				  <div class="field">
				    <label>Event Start Date</label>
				    <input type="text" name="eventdate" placeholder="Start Date" >
			  </div>
			  <div class="field">
			    <label>Event End Date</label>
			    <input type="text" name="eventenddate" placeholder="End Date" >
			  </div>
			  <div class="field">
			    <label>Event Place</label>
			    <input type="text" name="eventplace" placeholder="Place" >
			  </div>
			  <div class="field">
			    <label>Event Discription</label>
			    <textarea name="eventtext" placeholder="Discription"></textarea>
			
			  </div>
	  
			<button class="ui button" type="submit">Edit</button>
				</form>
			
		</div>
	</div>
	<script type="text/javascript">
		$('.ui.sidebar').sidebar({
		context: $('.bottom.segment')
		})
		.sidebar('attach events', '.menu .item');
	</script>
	<script>
		$("#Login").on("click", function() {
			$(this).closest("form").attr('action', '/login')
		})
		$("#Sign_Up").on("click", function() {
			$(this).closest("form").attr('action', '/sign_up')
		})
	</script>
	<!-- Login-->
	<script>
		$(document).ready(function() {
			$('a.login-window').click(function() {
				var loginBox = $(this).attr('href');
				$(loginBox).fadeIn(300);
				var popMargTop = ($(loginBox).height() + 24) / 2; 
				var popMargLeft = ($(loginBox).width() + 24) / 2; 
				$(loginBox).css({ 
				    'margin-top' : -popMargTop,
				    'margin-left' : -popMargLeftp
				});
				$('body').append('<div id="mask"></div>');
				$('#mask').fadeIn(300);    
				return false;
			});
			$('a.close, #mask').on('click', function() { 
				$('#mask , .login-popup').fadeOut(300 , function() {
					$('#mask').remove();  
				}); 
			return false;
			});
		});
		$(document).ready(function() {
			$('a.item').click(function() {
				var loginBox = $(this).attr('href');
				$(loginBox).fadeIn(300);
				var popMargTop = ($(loginBox).height() + 24) / 2; 
				var popMargLeft = ($(loginBox).width() + 24) / 2; 
				$(loginBox).css({ 
				    'margin-top' : -popMargTop,
				    'margin-left' : -popMargLeftp
				});
				$('body').append('<div id="mask"></div>');
				$('#mask').fadeIn(300);    
				return false;
			});
			$('a.close, #mask').on('click', function() { 
				$('#mask , .login-popup').fadeOut(300 , function() {
					$('#mask').remove();  
				}); 
			return false;
			});
		});		
	</script>
	<!-- Feedback-->
	<script type="text/javascript">
		$(document).ready( function () {
			$('.confirm button').click(function() {
				$('.feedback').css("display", "block");
			})
		})
	</script>
	<script type="text/javascript">
		$('.holder').click(function() {
			
			console.log($(this).find("p[name=eventname]").text())
			//$("input[name=posterid]").val($(this).find("p[name=id]").text())
			$("input[name=eventname]").val($(this).find("p[name=eventname]").text())
			$("input[name=eventnewname]").val($(this).find("p[name=eventname]").text())

			$("input[name=eventdate]").val($(this).find("p[name=eventdate]").text())
			$("input[name=eventenddate]").val($(this).find("p[name=eventenddate]").text())
			$("input[name=eventplace]").val($(this).find("p[name=eventplace]").text())
			$("input[name=eventtext]").val($(this).find("p[name=eventtext]").text())
			$(".ui.modal").modal('show')
		})
		$(".ui.modal").modal({
		closable: true
		});
		
	</script>

</body>
</html>